# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
* @AI-Engineering-Stockholm

# You can also specify individual users as owners
# For example:
# /assets/ @username1 @username2
# *.js @username3